@model MOBYNew.Models.Contact

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Detail</h2>

<p>
    @Html.ActionLink("Update Contact", "UpdateContactGet")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.Display(Model.FirstName + " " + Model.LastName)*@
        </th>
    </tr>
</table>
<ul>
    <li>
        @*@{string type = Model.ContactType.ToString(); }*@
        Contact Type: @*@Html.DisplayTextFor(model => type)*@
    </li>
    @if (Model.DOB.HasValue)
            {

                var age = DateTime.UtcNow.Year - Model.DOB.Value.Year;


        <li>Age: @Html.DisplayTextFor(model => age)</li>
    }

</ul>
