@model MOBYNew.Models.Contact

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Detail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Model.FirstName @Model.LastName
        </th>
    </tr>
    <tr>
        <td>
            @Html.Display("name")
        </td>
    </tr>

</table>

