@model dynamic

@{
    ViewBag.Title = "New Transaction";
}

<h2>New Transaction</h2>

<form id="newTransaction">
    <div class="form-group">
        <label>Contact</label>
        <div class="tt-container">
            <input id="contact" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Item</label>
        <div class="tt-container">
            <input id="item" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="item" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
    {
    <script>
        $(document).ready(function () {

            var vm = { itemIds: [] };

            var contacts = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('lastName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/contacts?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#contact').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'contact',
                display: 'lastName',
                source: contacts
            }).on("typeahead:select", function (e, contact) {
                vm.contactId = contact.id;
            });

            var items = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('itemName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/items?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#item').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'items',
                display: 'name',
                source: items
            }).on("typeahead.select", function (e, item) {
                $("#items").append("<li class='list-group-item> + item.itemName + </li>");

                $("#item").typeahead("val", "");

                vm.itemIds.push(item.id);
            });
            $("#newTransaction").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/api/newTransaction",
                    method: "post",
                    data: vm
                })
                .done(function () {
                    console.log("done");
                })
                .fail(function () {

                });
            });
        });
    </script>
}